.titleContainer {
  position: absolute; 
  top: 20%; 
  left: 12.5%; 
  z-index: 2; 
}
.phone {
  position: absolute; 
  top: 15%; 
  right: 12%; 
  z-index: 2; 
}
.form {
  position: absolute;
  top: 118%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact {
  position: absolute; 
  top: 200%; 
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}
