@font-face {
    font-style: normal; 
    font-family: 'Roobert PRO';
    src: url('/fonts/RoobertPRO-Regular.ttf') format('truetype');
    font-family: 'ABeeZee';
    src: url('/fonts/ABeeZee-Regular.ttf') format('truetype');
}
.Rectangle12 {
    width: 100vW; 
    height: 271px;
    background: rgba(152, 0, 0, 0.05);
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }
  
  .OurPricingPlans {
    color: #500000;
    font-size: 50px;
    height: 35px;
    width: 100%;
    font-family: 'ABeeZee', sans-serif; 
    font-weight: 700;
    word-wrap: break-word;
    text-align: center;
    margin-top: 30%;
  }
  
  .TrustedBy750Restaurants {
    color: #500000;
    font-size: 38px;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 700;
    margin-top: 8%;
    text-align: center;
    word-wrap: break-word;
  }
  
  .LoremIpsum {
    width: 850px; 
    height: 174px;
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: 'Roobert PRO', sans-serif;
    font-weight: 400;
    margin: 4% auto;
    word-wrap: break-word;
  }
  
  
 .RestaurantMenuForUltimateDiningExperience {
    color: #500000;
    font-size: 38px;
    font-family: 'ABeeZee', sans-serif; 
    font-weight: 700;
    margin-top: 4%; 
    text-align: center;
    word-wrap: break-word;
}

  
.LoremIpsum2 {
    width: 1051px;
    height: 74px;
    text-align: center;
    color: black;
    margin-top: 2%;
    font-size: 20px;
    font-family: 'Roobert PRO', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

  .subPlanContainer {
    display: flex;
    flex-direction: row; 
    margin-top: 5%;
    justify-content: center;
    gap: 10%; 
  }